<!DOCTYPE html>
<html>
  <head>
    <title>Occupations</title>
  </head>
  <body>
  <h1>Website for all your Occupational Needs</h1>
  <h2> Check it out! <b> {{random_occ}} </b> </h2>
  <table border = "1">
  <tr>
  	<th>Occupations</th>
  	<th>Percentage of Workforce</th>
  	<th>Helpful Links</th>
  </tr>
  {% for occ in occ_dictionary.keys() %}
  <tr>
  	<td>{{occ}}</td>
  	<td>{{occ_dictionary[occ][0] * 100}}</td>
  	<td><a href = {{occ_dictionary[occ][1]}}> {{occ_dictionary[occ][1]}} </a></td>
  </tr>
  {% endfor %}
  </table>

  </body>
</html>
  
